<% include ./partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/assets/css/portfolio.css">
<% include ./partials/nav.ejs %>
  <div class="main">
    <div class="wrapper">
      <% projects.forEach(function(project){ %>
        <div class="container">
          <div class="flip">
            <div class="card">
              <div class="face front">
                <img src="<%= project.image.front %>" id="projectImg" alt="<%=project.title%> Project Image" title="Click for more info">
              </div>
              <div class="face back">
                <div class="row back-content">
                  <div class="col-md-6 col-12">
                    
                    <a href="<%= project.url %>"><img src="<%= project.image.back %>" id="mobileImg" alt="<%=project.title%> Project Image"></a>
                  </div>
                  <div class="col-md-1"></div>

                  <div class="col-md-5 col-12">
                    <div class="description">
                      <h3><%=project.title%></h3>
                      <p>
                        <%= project.body %>
                      </p>
                      <p> Technologies: </p>
                      <ul>
                        <% project.technologies.split(', ').forEach(function(technology){ %>
                          <li>
                            <%=technology%>
                          </li>
                        <% }) %>
                      </ul>
                      
                      <a href="<%= project.url %>" class="pt-1">
                        <img class="githubLink" src="https://magentys.io/wp-content/uploads/2017/04/github-logo-1.png" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/portfolio.js"></script>
<% include ./partials/footer.ejs %>